{% include 'header.twig' %}
{% include 'nav.twig' %}

<main class="article-content">
    <form method="get" class="search-bar" action="/">
        <label>
            <input type="search" value="{{placehold}}" class="input-search" name="search">
        </label>
        <button class="search-button" type="submit" value="Search">
            <i class="fa fa-search">
            </i>
        </button>
    </form>
    <table class="coin-table">
        <thead>
        <th>Name</th>
        <th>Symbol</th>
        <th>Rank</th>
        <th>Circulating Supply</th>
        <th>Total Supply</th>
        <th>Price</th>
        <th>Percent Change 1h</th>
        </thead>
        <tbody>
        {% for coin in coins %}
        <tr>
            <td><a href="/coin={{coin.id}}"><img class='coin-img' src="{{coin.getLogoUrl}}">
                {{coin.getName}}</a></td>
            <td>{{coin.getSymbol}}</td>
            <td>{{coin.getCmcRank}}</td>
            <td>{{coin.getCirculatingSupply}}</td>
            <td>{{coin.getTotalSupply}}</td>
            <td>{{coin.getQuote.price | round(2,'floor')}} $</td>
            <td>{{coin.getQuote.percentChange1h | round(2,'floor')}} %</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</main>
{% include 'footer.twig' %}